<nav class="navbar navbar-expand-md navbar-light bg-light">
        
    <a href="#" class="navbar-brand">Foodie</a>

        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" (click)="selectedLink('recipes')">Recipes</a>
                <a class="nav-item nav-link" href="#" (click)="selectedLink('shopping')">Shopping List</a>
            </div>

        </div>

        <div class="collapse navbar-collapse justify-content-end">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown toggle" href="#">Manage <span class="caret"></span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Save</a>
                </div>
            </div>
            

        </div>

</nav>